@import "../../components/color";
@import "../../components/media";

.headlogo {
    figure {
        width: 41%;
    }
}
.borda {
    border-right: 1px solid $preto;
    height: 8rem;
}

@media screen and (max-width: $movel) {
    .headlogo {
        margin-top: 15% !important;
    }
}
