@import "../color";
@import "../media";

.bb {
    h1 {
        color: $branco;
    }
    h6 {
        color: $branco;
    }
    .artD {
        display: inline-block;
        float: right;
        width: 82%;
        .txt {
            text-align: justify;
            font-size: 0.8rem;
        }
        .amarelo {
            background-color: $amarelo;
            border: unset;
            margin-top: 11%;
            margin-bottom: 11%;
        }
        span {
            color: $branco;
        }
        nav {
            width: 65%;
            margin-bottom: 20%;
            padding-top: 4%;
            border-top: 1px solid rgba(151, 156, 168, 0.3);
        }
    }
    .b {
        margin-top: 5%;
    }
}
.bc {
    h1 {
        color: $preto;
    }
    h6 {
        color: $preto;
    }
    .artD {
        display: inline-block;
        float: right;
        width: 82%;
        .txt {
            text-align: justify;
            font-size: 0.8rem;
        }
        .amarelo {
            background-color: $preto;
            border: unset;
            margin-top: 11%;
            margin-bottom: 11%;
            color: $branco;
        }
        span {
            color: $preto;
        }
        nav {
            width: 65%;
            margin-bottom: 20%;
            padding-top: 4%;
            border-top: 1px solid rgba(151, 156, 168, 0.3);
        }
    }
    .b {
        margin-top: 5%;
    }
}

@media screen and (max-width: $movel) {
    .bb {
        .b {
            margin-top: 11%;
            h1 {
                text-align: center;
            }
            h6 {
                text-align: center;
                margin-top: 5% !important;
            }
            .artD {
                padding: 5%;
                width: 100%;
                float: unset;
                text-align: center;
                nav {
                    width: 100%;
                    margin-bottom: unset;
                }
            }
        }
    }
    .bc {
        .b {
            margin-top: 3.2%;
            h1 {
                text-align: center;
            }
            h6 {
                text-align: center;
                margin-top: 5% !important;
            }
            .artD {
                padding: 5%;
                width: 100%;
                float: unset;
                text-align: center;
                nav {
                    width: 100%;
                    margin-bottom: unset;
                }
            }
        }
    }
}
