@import "../color";

.box {
    border: 1px solid $preto;
    border-radius: 5px;
    padding: 7% 5% 5% 11%;
    // width: 84%;
    // display: inline-block;
    // float: right;
    * {
        color: $preto;
        font-weight: bold;
        font-size: 0.9rem;
    }
    li {
        list-style: disc;
        color: $azulCiano;
        margin-bottom: 3%;
    }
    p {
        font-size: 1.4rem;
        text-transform: unset;
        font-weight: bold;
    }
}
.bord {
    border-bottom: 1px solid $preto;
    margin-bottom: 7%;
    width: 66%;
}
