@import "../color";

.nav {
    background-color: $branco;

    // width: 35%;
    position: fixed;
    top: 4%;
    right: 4%;
    // padding: 1%;
    display: grid;
    grid-template-columns: 40px 150px 80px 50px 80px 40px 100px;
    justify-content: center;
    align-content: center;
    gap: 2px;
    // /* Add the blur effect */
    opacity: 0.8;
    .active {
        background-color: $amarelo;
    }
    .noactive {
        background-color: $preto;
        a {
            color: $branco;
        }
    }
    a {
        color: $preto;
    }
    .item {
        // background-color: green;
        display: grid;
        justify-content: center;
        align-content: center;
        padding: 15px;
    }
    .item:last-child {
        font-size: 1.4rem;
    }
}
