@import "../color";
@import "../media";

.nav {
    background-color: $branco;
    // width: 35%;
    position: fixed;
    top: 4%;
    right: 4%;
    // padding: 1%;
    display: grid;
    grid-template-columns: /*40px*/ 150px 80px 50px 80px /*40px*/ 100px;
    justify-content: center;
    align-content: center;
    gap: 2px;
    // /* Add the blur effect */
    opacity: 0.8;
    z-index: 50;
    .active {
        background-color: $amarelo;
        width: 66%;
        margin-left: 34%;
    }
    .noactive {
        background-color: $preto;
        width: 66%;
        margin-left: 34%;
        a {
            color: $branco;
        }
    }
    a {
        color: $preto;
    }
    .item {
        // background-color: green;
        display: grid;
        justify-content: center;
        align-content: center;
        padding: 15px;
        cursor: pointer;
        color: $preto;
    }
    .item:last-child {
        // font-size: 1.4rem;
    }
}
.dropMenu {
    padding: 1%;
    background-color: $branco;
    position: fixed;
    top: 4%;
    right: 7.9%;
    // z-index: 50;
    width: 25.29%;
    transition: width 10s ease-in;

    .boxcontainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 5%;

        .box1 {
            span {
                &:not(:last-child) {
                    margin-right: 12%;
                }
                &:hover {
                    color: $preto;
                    font-weight: bold;
                }
                cursor: pointer;
            }
        }
        // .box2 {
        // }
    }
    .listMenu {
        img {
            width: 44%;
        }
    }
}
.show {
    display: none;
}
.social {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;

    .caxa {
        width: 24%;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
}

@media screen and (max-width: $movel) {
    .nav {
        font-size: 0.7rem;
        grid-template-columns: 108px 74px 42px 59px 82px;
        top: 0.5%;
        right: 1%;
        opacity: 1;
    }
    .dropMenu {
        // padding: 1%;
        // background-color: $branco;
        // position: fixed;
        top: 0.5%;
        right: 15.6%;
        // z-index: 50;
        width: 84.2%;
        .box1 {
            color: $preto;
            font-weight: bold;
            span {
                margin-right: 57% !important;
            }
        }
    }
}
