@import "../../components/color";
.fornfor {
    .tite {
        font-size: 5rem;
        color: $preto;
    }
    .zero {
        font-size: 10rem;
        color: $preto;
    }
    .center {
        text-align: center;
    }
}
