@import "../../components/color";
@import "../../components/media";

.container2 {
    width: 100vw;
    height: 100vh;
    background: $branco;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        margin-bottom: 25%;
    }
}
.box2 {
    // height: 20%;
    background: $branco;
    border: 1px solid $cinza;
    padding: 1% 2%;
    text-align: center;
    width: 23% !important;
    h1 {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 4%;
    }
    article {
        font-size: 0.8rem;
        margin-bottom: 10%;
    }
    button {
        background-color: $amarelo;
        border: unset;
        height: 3rem;
    }
    input {
        height: 3rem;
        margin-bottom: 3%;
    }
    // hr
    hr {
        text-align: center;
        border: 0;
        height: 2px;
        background-image: linear-gradient(
            to right,
            transparent,
            #ccc,
            transparent
        );
        margin-bottom: 10%;
    }

    hr::after {
        content: "OR";
        display: inline-block;
        position: relative;
        top: -0.7em;
        font-size: 1em;
        padding: 0 0.3em;
        background: white;
    }
    .ico {
        top: 4px !important;
    }
    .icopass {
        top: 8px !important;
        right: 33px !important;
        color: $preto !important;
        cursor: pointer !important;
        pointer-events: unset !important;
        width: 1.5rem !important;
    }
    form {
        .keep {
            margin-left: 5px;
            font-size: 0.8rem;
            color: $preto;
        }
        .forgot {
            font-size: 0.8rem;
            color: $cinza !important;
        }
        .social {
            .face {
                background-color: blue;
                color: $branco !important;
                width: 100%;
                font-weight: bold;
                height: 3rem;
            }
            .gmail {
                background-color: $branco;
                border: 1px solid red;
                color: $preto !important;
                width: 100%;
                font-weight: bold;
                height: 3rem;
            }
        }
    }
    .is-loading {
        &::after {
            border-color: transparent transparent black black !important;
        }
    }
}

@media screen and (max-width: $movel) {
    .box2 {
        width: 100% !important;
    }
}
