@import "../../components/color";
@import "../../components/media";
.s {
    color: red;
}

.col {
    // width: 27.3% !important;
    flex: none;
    width: 26.333%;
}

.showmore {
    color: $cinza;
    font-size: 0.7rem;
    height: 2.3rem;
    border-radius: 5px !important;
    border-color: $cinza;
}
.btnShowmore {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

@media screen and (max-width: $movel) {
    .col {
        width: 100%;
    }
}
