@import "../../components/color";
@import "../../components/media";
.s {
    color: red;
}

.col {
    // width: 27.3% !important;
    flex: none;
    width: 26.333%;
}

@media screen and (max-width: $movel) {
    .col {
        width: 100%;
    }
}
