@import "../../components/color";
@import "../../components/media";

// primero section

.coluna {
    border-right: 1px solid $preto;
    height: 634px;
    margin-top: 8%;
    border-color: $preto;
}
.fig {
    position: absolute;
    top: 44%;
    left: 21%;
    img {
        width: 60%;
    }
}
.fig2 {
    position: absolute;
    top: -1.5%;
    left: -18%;
    img {
        width: 58%;
    }
}
.sobre {
    span {
        padding: 1%;
        border: 1px solid $cinza;
        margin-right: 2%;
        border-radius: 40px;
    }
}

// segundo secson
.container2 {
    position: relative;
    // max-width: 800px;
    // margin: 0 auto;
    width: 90%;
}
.baipadir {
    float: right;
}

.container2 img {
    vertical-align: middle;
    width: 100%;
    height: 42rem;
}

.container2 .content2 {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.94); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 5px 20px 20px 20px;
}

.topRight {
    position: absolute;
    top: 8px;
    right: 21px;
    font-size: 1.8rem;
    svg {
        color: white;
    }
}
.topLeft {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    width: 80%;
}
.coluna2 {
    border-right: 1px solid black;
    height: 400px;
    margin-top: 25%;
    border-color: $preto;
}
.coluna3 {
    border-bottom: 1px solid black;
    width: 20%;
    margin: -0.9% 0 0 40%;
}
.expTxt {
    font-size: 2rem;
    font-weight: bold;
    color: $branco;
    margin-bottom: 7%;
    span {
        text-transform: uppercase;
    }
}
.padd {
    padding: 2% 6% 6% 6%;
    margin: 10%;
    border-left: 1px solid $branco;
    height: 17rem;
}
.fixbutton {
    font-size: 0.9rem;
    height: 43px;
}
.a1 {
    position: absolute;
    top: 1.3125rem;
    left: 2.625rem;
    font-size: 0.8rem;
    color: $branco;
}
.traco {
    position: absolute;
    top: 3rem;
    left: 2.875rem;
    border-right: 3px solid $branco;
    height: 6.4375rem;
}
.a2 {
    position: absolute;
    bottom: 1.3125rem;
    left: 2.625rem;
    font-size: 0.8rem;
    color: $branco;
}

.preco {
    font-size: 2rem;
    font-weight: bold;
}
.precolocal {
    font-size: 0.8rem;
    padding: 3% 0 0 0 !important;
    span {
        font-size: 1rem;
        svg {
            color: $cinza;
        }
    }
}
.liinha {
    border-top: 1px solid $cinza;
    margin-top: -4%;
}
.verde {
    background-color: $verde;
    color: $branco;
}
.castanho2 {
    background-color: $castanho2;
    color: $preto;
}
.expa {
    color: $branco !important;
    font-size: 1.3rem;
}
.logo {
    margin-top: 12%;
}
.txt {
    font-size: 3rem;
    color: $preto;
    line-height: 1.2;
    margin: 11% 0 7% 0;
    width: 70%;
    font-weight: bold;
}

@media screen and (max-width: $movel) {
    .fig {
        display: none;
    }
    .fig2 {
        top: -0.5%;
        right: -69%;
        left: unset;
        img {
            width: 51%;
        }
    }
    .logo {
        margin-top: 33%;
        margin-left: 10%;
    }
    .txt {
        font-size: 2.4rem;
        margin: 11% 4% 7% 4%;
        text-align: justify;
    }
    .sobre {
        text-align: center;
        margin-top: 16%;
    }
    .coluna,
    .coluna2,
    .coluna3 {
        display: none;
    }
    .container2 {
        width: 100%;
    }

    .traco {
        left: 1.8rem;
    }
    .a2 {
        left: 1.45rem;
        bottom: 0.313rem;
    }
    .a1 {
        top: 0.313rem;
        left: 1.625rem;
    }
    .space {
        justify-content: space-between !important;
    }
    .content2 {
        p {
            margin-top: 4%;
        }
    }
    .boxMargin {
        height: 48rem;
        margin-top: 44rem;
    }
}
