@import "../../components/color";
@import "../../components/media";

.servico {
    background-color: $amarelo !important;
    // padding: 2% 0 0 10% !important;
    // height: 84vh;
    img {
        width: 96% !important;
    }
    .col {
        // padding-left: 5%;
        padding: 0 0 0 3.7%;
        .boxPreto {
            border-right: 1px solid $preto;
            width: 96.3%;
            height: 38.99rem;
            margin-top: 0;
            padding: 5% 0 0 8%;
            color: $preto;
            h1 {
                font-weight: bold;
                color: $preto;
                font-size: 3rem !important;
                margin-bottom: 7%;
            }
            ul {
                list-style-type: disc;
                li {
                    font-size: 1.5rem;
                    font-weight: bold;
                    &:not(:last-child) {
                        margin-bottom: 8%;
                    }
                    &::marker {
                        color: $branco;
                    }
                }
            }
        }
    }
    .col2 {
        padding: 0;
        img {
            // height: 100vh !important;
            //  width: 100% !important;
        }
        figure {
            margin-left: -2.1%;
        }
    }
}

.detalhes {
    article {
        padding: 2%;
        border-bottom: 2px solid $preto;
        text-align: justify;
        white-space: pre-line;
    }
    .arti {
        margin-top: 5%;
    }
    margin-bottom: 10%;
}
.figure {
    width: 105.6% !important;
    margin-left: -5px;
    img {
        height: 48vh !important;
    }
}
// .sebanner {
//     top: 18%;
//     width: 84%;
// }
// .figure {
//     content: "";
// }

@media screen and (max-width: $movel) {
    // .figure {
    //     width: 100% !important;
    //     img {
    //         height: 39vh !important;
    //     }
    // }
    .servico {
        height: unset;
        img {
            width: 100%;
        }
    }
    .arti {
        article {
            padding: 5%;
        }
    }
}
