/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import "../components/color";

body {
    background-color: #ffffff;
    // height: 100vh;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
//******* testas isso ***
#__next {
    max-width: 1700px;
}
// *********************
.footer {
    padding: 1rem 1.5rem 1rem;
    background-color: #ffffff;
}
a {
    color: #000000 !important;
}
a:hover {
    color: #979ca8;
}
.button {
    border-radius: unset !important;
}
.bold {
    font-weight: bold;
}
.margi {
    letter-spacing: 2px;
    color: $branco;
}
.margintop {
    margin-top: 3%;
}
.marginbot {
    margin-bottom: 0rem !important;
}
.is-rounded {
    border-radius: 290486px !important;
}
.hide {
    display: none !important;
}
.Dzindex {
    z-index: 0 !important;
}

$i: 0;
@for $i from 0 through 100 {
    .activeSlide_#{$i} #card_#{$i} {
        opacity: 1;
        transform: scale(1);
    }
}
