body {
    background-color: #ffffff;
    height: 1000px;
}
.footer {
    padding: 1rem 1.5rem 1rem;
    background-color: #ffffff;
}
a {
    color: #000000;
}
a:hover {
    color: #979ca8;
}
