@import "../../components/color";
@import "../../components/media";

.boxi {
    margin-top: 5% !important;
    margin-bottom: 2% !important;
    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 3%;
        span {
            color: $amarelo;
            text-decoration: underline;
        }
    }
}
.sobre {
    span {
        padding: 1%;
        border: 1px solid $cinza;
        margin-right: 2%;
        border-radius: 40px;
    }
}

@media screen and (max-width: $movel) {
    .col {
        padding-left: 10%;
        h1 {
            font-size: 1.5rem;
        }
    }
    .qual {
        display: none;
    }
    .boxi {
        margin-bottom: 5% !important;
    }
}
